language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'

before_install:
    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "5.6" ]]; then
        echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini;
      else
        echo "extension = mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini;
      fi
    - composer install

script: phpunit tests